.header{
    background-color: rgb(100, 5, 20);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.header_options{
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.header_options button{
    background-color: transparent;
    border: none;
    border-radius: 25px;
    outline: none;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 28px;
}
.header_options button:hover{
    background-color: rgba(255,255,255,0.2);
}