.header{
    background-color: rgb(135, 250, 212);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    filter: invert();
}

.header_options{
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.header_options button{
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: transparent;
}
.header_options button:hover{
    filter:drop-shadow(0px 0px 5px rgb(80,80,80))
}