.header{
    /*background-color: rgb(100, 5, 20);*/
    background-image: linear-gradient(90deg, rgba(100, 5, 20, 0.8) 0%, rgb(0, 0, 0) 70%), url('../src/bg.jpg');
    background-size: contain;
    background-repeat: repeat;
    align-items: center;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0px 0px 2px rgb(0,0,0);
}

.header_controls{
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.header_controls button{
    background-color: transparent;
    border: none;
    border-radius: 25px;
    outline: none;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 28px;
    margin: 5px;
}
.header_controls button:hover{
    background-color: rgba(255,255,255,0.1);
}

.header_select{
    width: 60%;
    min-width: 200px;
    height: fit-content;
    font-family: Geist, Montserrat, Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.header_select:hover{
    background-color: rgba(255,255,255,0.1);
}
.header_select option{
    color: black;
}

@media (max-width: 600px){
    .header{
        flex-direction: column;
    }
    .header_controls{
        width: fit-content;
        flex-direction: column;
    }
}