
:root {
  --background: rgb(200, 200, 200);
  --foreground: rgb(20, 20, 20);
  --input-border: rgb(100, 100, 100);
  --input-border-hover: rgb(30,30,30);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(20,20,20);
    --foreground: rgb(240, 240, 240);
    --input-border: rgb(95, 95, 95);
    --input-border-hover: rgb(200,200,200);
  }
}
*/
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Geist, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/