@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --background: rgb(230, 230, 230);
  --foreground: rgb(0, 0, 0);
  --input-border: rgb(110, 110, 110);
  --input-border-hover: rgb(20,20,20);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(150, 150, 150);
  --foreground: rgb(0, 0, 0);
  --input-border: rgb(110, 110, 110);
  --input-border-hover: rgb(20,20,20);
  }
}
*/
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Geist, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/