/* index */

.container{
  background-color: var(--background);
  color: var(--foreground);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Geist, Montserrat, Arial, Helvetica, sans-serif;
}

.landing_block, .auth_block{
  margin: 20px;
  min-width: fit-content;
  word-wrap: break-word;
  align-items: center;
}
.auth_block{
  padding: 3vw;
  border-left: 1px solid var(--input-border);
}
.landing_block h1{
  margin: 25px 0;
}
.landing_block p{
  margin: 25px 0;
}

/* index - formulario de login */

.login_form{
    text-align: center;
}

.login_inputContainer{
    position: relative;
    margin: 40px 0;
    width: 100%;
}
.login_input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--input-border);
    outline: none;
    color: var(--foreground);
    font-family: Geist, Montserrat, Arial, Helvetica, sans-serif;
}
.login_inputContainer .login_input:focus ~ .login_label, .login_inputContainer .login_input:valid ~ .login_label{
  top: -18px;
  font-size: 14px;
  color: var(--input-border-hover);
}
.login_label{
  position: absolute;
  top: 0;
  left: 0;
  color: var(--input-border);
  transition: all 0.2s ease;
  pointer-events: none;
}
.login_inputContainer .login_input:focus ~ .login_label, .login_inputContainer .login_input:valid ~ .login_label{
  top: -18px;
  font-size: 14px;
  color: var(--input-border-hover);
}

.underline{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--input-border-hover);
  transform: scaleX(0);
  transition: all 0.2s ease;
}
.login_inputContainer .login_input:focus ~ .underline, .login_inputContainer .login_input:valid ~ .underline{
  transform: scaleX(1);
}

.login_checkbox{
    margin-bottom: 15px;
}
.login_checkbox input{
    margin: 10px;
    filter: opacity(50%);
}

.login_button{
    background-color: transparent;
    padding: 10px;
    color: var(--foreground);
    font-family: Geist, Montserrat, Arial, Helvetica, sans-serif;
    border:2px dotted var(--input-border);
    outline: none;
}
.login_button:hover{
    border:2px dotted black;
}

.login_link_recover{
  font-size: 14px;
  color: var(--input-border);
  position: relative;
  bottom:37;
  left: 25;
}
.login_link_recover:hover{
  color: var(--input-border-hover);
}

.login_link_options{
  padding: 4px;
  font-size: 14px;
  color: var(--input-border);
}
.login_link_options:hover{
  color: var(--input-border-hover);
}

@media (max-width: 600px) {
  .container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .landing_block{
    margin: 0px;
  }
  .auth_block{
    margin: 0px;
    margin-top: 10vh;
    border: none;
  }

}

@media (prefers-color-scheme: dark) {
  
}
